<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Dashboard</title>
  <script async>
  </script>
</head>
<body id="dashboard">
    <header class="dashHeader">
        <%- include("./partials/header.ejs") %>
        <h2> Welcome to your <strong> PlanIt Dashboard</strong></h2>
    </header>
    <div class="dashLayout">
        <div class="dashContainer">
            <div id="locations">
                <h2> Locations:</h2>
                <div class="locations">
                    <h5><u>List of Places You Would Like to Visit</u></h5> <br />
                    <%if(user.locations){ for (let a = 0; a < user.locations.length ; a++){ %>
                        <div class="oneLocation"><label><%= user.locations[a]%></label><input type="checkbox" name="isChecked" value="<%= user.locations[a]%>"/></div>
                        <% }} else {%>
                            <div> Add new locations below! </div>
                        <%}%>
                        <div id="bottomButtons">
                            <form action="/users/<%=JSON.parse(JSON.stringify(user._id))%>?_method=PUT" method="POST" id="editLocations">
                            <label> 
                                <input
                                    id="autocomplete"
                                    type="text"
                                    placeholder="Enter a city"
                                    name="locations"
                                    value=""
                                />
                            </label>
                            <button onclick="addLocation()" type="submit" id="runSubmit">Save </button>
                            </form>
                        </div>
                </div>
                <div class="map" id="map">
                </div>
            </div>
            <div id="standard">
            <div class="dates">

            </div>
            <div class="weather">

            </div>
            </div>
            <div id="entertainment">
            <div class="events">

            </div>
            <div class="housing">

            </div>
            </div>
        </div>
    </div>
</body>
</html>